/* You can add global styles to this file, and also import other style files */

$violet: #6e2e81;
$pink: #DD517F;
$lightblue: #7998EE;
$blue: #556DC8;
$orange: #E68E36;


@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(./assets/fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    body{
        max-width: 100vw;
        min-height: 100vh;
        background: rgb(223, 222, 222);
        background: linear-gradient(53deg, rgba(121,152,238,0.6) 23%, rgba(230,142,54,0.5) 100%) no-repeat;
        background-attachment: fixed;
        h1, h2, h3, h4, h5, p, .navbar-brand, label, a{
            font-family: 'Raleway';
            color: $violet;
        }
        .btn:focus,.btn:active {
            outline: none !important;
            box-shadow: none;
        }
        .btn-default{
            background-color: $violet;
            color: whitesmoke;
            border-radius: 50px;
        }
        .btn-light{
            border-radius: 50px;
        }
    }
}

::-webkit-scrollbar{
    background: rgb(248, 248, 248);
    width: 0.7vw;
    height: 0;
}

::-webkit-scrollbar-thumb{
    background-color: $violet;
    border-radius: 10px;
}

::-moz-scrollbar{
    background: rgb(248, 248, 248);
    width: 0.7vw;
    height: 0;
}

::-moz-scrollbar-thumb{
    background-color: $violet;
    border-radius: 10px;
}
