<div @fade class="row register-container">
    <h1 class="text-center mt-5 brand">Vaporbox</h1>
    <div id="illustration-slogan" class="col-lg-5 d-flex flex-column justify-content-center text-center">
        <img src="../../../assets/img/illustration2.svg" alt="Ilustracion" id="illustration-register" class="col-10 mt-5 mx-xl-5 mx-lg-5 img-fluid">
        <h5 class="mt-lg-5 glitch" data-text="Sé quién quieras ser">Sé quién quieras ser</h5>
        <video id="bgVideo" preload="true" autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../../assets/video/video1.mp4" type="video/mp4" > 
        </video>
    </div>
    
    <div class="col-lg-4 mb-5 form-container">
        
        <h3 class="section-title">Crea tu cuenta</h3>

        <div class="alert alert-success" *ngIf="status == 'success'">
            Registro completado con éxito, ya podés <a [routerLink]="['/login']">iniciar sesión</a> aquí
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            El registro no ha podido completarse, quizás tu nombre de usuario o email ya está en uso, intentalo de nuevo!
        </div>

        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
            <label for="name">Nombre</label>
            <div class="col-lg-12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
                <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
            </div>
    
            <div class="col-lg-12 mt-3">
                <label for="surname">Apellido</label>
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required/>
                <span *ngIf="!surname.valid && surname.touched">El apellido es obligatorio</span>
            </div>
    
            <div class="col-lg-12 mt-3">
                <label for="nick">Nombre de Usuario</label>
                <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required/>
                <span *ngIf="!nick.valid && nick.touched">El nombre de usuario es obligatorio</span>
            </div>
    
            <div class="col-lg-12 mt-3">
                <label for="email">Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9-_%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                <span *ngIf="!email.valid && email.touched">El email es obligatorio y debe ser válido</span>
            </div>
    
            <div class="col-lg-12 mt-3">
                <label for="password">Contraseña</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
                <span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
            </div>
            <div class="text-center">
                <small>¿Ya tenés una cuenta en Vaporbox? Iniciá sesión <a [routerLink]="['/login']">aquí</a> </small>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-default mt-3" [disabled]="!registerForm.form.valid">Registrarse</button>
                <button type="button" class="btn btn-light mt-3" [routerLink]="['/login']">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>


