$violet: #6e2e81;
$pink: #DD517F;
$lightblue: #7998EE;
$blue: #556DC8;
$orange: #E68E36;

.login-container{

    .brand{
            color: $violet;
            font-weight: 900;
            font-style: italic;
            text-shadow: $pink;
    }
    
    .section-title{
        color: $pink;
    }
    
    #illustration-register{
        height: 50%;
        margin: 0;
        padding: 0;
    }
    
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0 auto;
    
        @media (max-width:380px){
            padding: 0 10vw;
        }
    
        label{
            color: $violet;
            font-size: 1rem;
            margin-left: 15px;
        }
        .form-control{
            border-radius: 50px;
            height: 30px;
            background-color: whitesmoke;
            font-size: small;
            &:active, &:focus{
                    border: none;
                    outline: none;
                }
        }
        span{
                color: $pink;
                font-size: smaller;
                margin-left: 15px;
            }

        .btn-light{
            
            &:hover{
                background-color: rgb(211, 211, 211); 
                border: rgb(211, 211, 211);
            }
        }
        
        .btn-default{
            margin-right: 10px;
            &:hover{
                color: whitesmoke;
                background-color: $pink;
            }
        }
    }
}


