<div class="row">
    <div class="col-lg-4">
        <h3>Mensajes</h3>
        <div class="sidebar-admin">
            <ul class="nav d-flex flex-column justify-content-between">
                <li role="presentation">
                    <a [routerLink]="['add']" [routerLinkActive]="['active']">Enviar mensaje</a>
                </li>
                <li role="presentation">
                    <a [routerLink]="['received']" [routerLinkActive]="['active']">Mensajes recibidos</a>
                </li>
                <li role="presentation">
                    <a [routerLink]="['sent']" [routerLinkActive]="['active']">Mensajes enviados</a>
                </li>
                <li role="presentation">
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Información</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-8">
        <router-outlet></router-outlet>
    </div>
</div>
