<div @fade class="users-container col-xl-12 col-lg-12">
    <div class="mt-5 d-flex flex-column justify-content-center" *ngIf="loading">
        <app-loading></app-loading>
    </div>
    <div class="mt-5 d-flex flex-column justify-content-center" *ngIf="!loading">
        <h3 class="mb-3 text-center section-title">Gente</h3>
        <div class="searchInput">
            <input #searchInput [(ngModel)]="searchText" placeholder="Buscar..." type="text">
            <i class="fa fa-search"></i>
        </div>
        <div class="people mt-3">
            <div *ngFor="let user of users | filter: searchText" class="item-user d-flex justify-content-center">
                <div *ngIf="user" class="card card-default mb-3">
                    <div class="card-body">
                        <div class="image-user pull-left">
                            <a [routerLink]="['/profile/',user._id]">
                                <img src="{{url + 'get-image-user/' + user.image}}" alt="Imagen de usuario" *ngIf="user.image">
                                <img class="default-user-image" src="assets/img/default-user.jpg" alt="Imagen de usuario" *ngIf="!user.image">
                            </a>
                        </div>
                        <div class="user-name">
                            <p><a [routerLink]="['/profile/',user._id]">{{user.name + ' ' + user.surname}}</a></p>
                            <p class="username"><small>{{'@'+user.nick}}</small></p>
                            <p class="bio" *ngIf="user.bio">{{user.bio}}</p>
                        </div>
                        <!--seguir y dejar de seguir-->
                        <div class="pull-right" *ngIf="user._id != identity._id">
                            
                            <button class="btn btn-default" 
                            *ngIf="follows.indexOf(user._id) < 0"
                            (click)="followUser(user._id, user)">
                                <i class="fa fa-user-plus"></i><span class="button-text">Seguir</span>
                            </button>
    
                            <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0"
                                (mouseenter)="mouseEnter(user._id)"
                                (mouseleave)="mouseLeave(user._id)"
                                (click)="unfollowUser(user._id)"
                                >
                                <span *ngIf="user._id == followMouseOver && !mobile; else following">
                                    <i class="fa fa-user-times"></i><span class="button-text">Dejar de seguir</span>
                                </span>
                                <ng-template #following>
                                    <i class="fa fa-check"></i><span class="button-text">Siguiendo</span>
                                </ng-template>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Paginación-->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li *ngIf="page > 1"><a [routerLink]="['/users', prev_page]" class="btn btn-sm btn-default">Anterior</a></li>
                <li *ngIf="pages != page && pages > 1"><a [routerLink]="['/users', next_page]" class="btn btn-sm btn-default">Siguiente</a></li>
            </ul>
        </div>
    </div>
</div>

