$violet: #6e2e81;
$pink: #DD517F;
$lightblue: #7998EE;
$blue: #556DC8;
$orange: #E68E36;

.users-container{
    margin-top: 14vh;
    .searchInput{
        width: fit-content;
        align-self: center;
        input{
            width: 70vw;
            max-width: 400px;
            border-radius: 50px;
            border: none;
            opacity: 0.3;
            padding: 5px 10px;
            align-self: center;
            &:active, &:focus{
                border: none;
                outline: none;
            }
        }
        i{
            display: inline;
            width: fit-content;
            position: relative;
            right: 25px;
            color: $pink;
            opacity: 0.9;
        }
    }
    .people{
        .item-user{
            .card-default{
                width: 60vw;
                min-width: 290px;
                border-radius: 50px;
                border: 1px solid $pink;
                background-color: rgb(248, 248, 248, 0.5);
                box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.22);
                -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.22);
                -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.22);
                @media (max-width: 992px){
                    width: 90vw;
                }
                .card-body{
                    .image-user{
                        width: 7em;
                        height: 7em;
                        border-radius: 100%;
                        overflow: hidden;
                        margin-right: 20px;
                        @media (max-width: 992px){
                            width: 4em;
                            height: 4em;
                        }
                        img{
                            width: 110%;
                            height: auto;
                        }
                        .default-user-image{
                            width: 100%;
                        }
                    }
                    .user-name{
                        a{
                            text-decoration: none;
                            color: $violet;
                            font-family: 'Raleway';
                            font-weight: bolder;
                        }
                        .username{
                            color: $pink;
                            font-family: 'Raleway';
                        }
                        .bio{
                            font-size: small;
                        }
    
                    }
                    .btn{
                        @media (max-width:576px){
                            .fa{
                                margin-left: 5px;
                            }
                            .button-text{
                                display: none;
                            }
                           
                        }
                    }
                    .btn-default{
                        background-color: $pink;
                        color: whitesmoke;
                        border-radius: 50px;
                        margin-right: 10px;
                        .fa-user-plus{
                            margin-right: 5px;
                        }
                        &:hover{
                            background-color: #c9124f;  
                        }
                    }
                    .btn-primary{
                        background-color: $lightblue;
                        color: whitesmoke;
                        border: $lightblue;
                        border-radius: 50px;
                        margin-right: 10px;
                        .fa-user-times{
                            margin-right: 5px;
                        }
                        .fa-check{
                            margin-right: 5px;
                        }
                        &:hover{
                            background-color: $blue; 
                        }
                    }
                }
            }
        }
    }
    
    .pagination{
        .btn-default{
            color: whitesmoke;
            border-radius: 50px;
            &:hover{
                background-color: $pink;
            }
        }
    }
}