<div @fade class="notifications-container col-xl-12 col-lg-12">
    <div class="mt-5">
        <h3 class="text-center section-title">Notificaciones</h3>
        <div class="notifications mt-5">
            <div *ngFor="let notification of notifications" class="item-notifications d-flex justify-content-center">
                <div class="card card-default" *ngIf="notification.follower.sub != identity._id">
                    <div class="card-body d-flex">
                        <div *ngIf="notification.type === 'like-publication'">
                            <p>
                                A<img src="{{url + 'get-image-user/' + notification.follower.image}}" *ngIf="notification.follower.image">
                                <img class="default-image-user" src="assets/img/default-user.jpg" alt="Foto de perfil" *ngIf="!notification.follower.image"/> 
                                <strong>{{notification.follower.name + ' ' + notification.follower.surname}}</strong> le gustó tu publicación: <br>
                                <small>{{notification.publication.text}}
                                    <img src="{{url + 'get-image-pub/' + notification.publication.file}}" *ngIf="notification && notification.publication.file != 'null'">
                                </small>
                            </p>
                            <small>{{ (notification.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}</small>
                        </div>
                        <div *ngIf="notification.type === 'new-follow'">
                            <p>
                                <img src="{{url + 'get-image-user/' + notification.follower.image}}" *ngIf="notification.follower.image">
                                <img class="default-image-user" src="assets/img/default-user.jpg" alt="Foto de perfil" *ngIf="!notification.follower.image"/>
                                <strong>{{notification.follower.name + ' ' + notification.follower.surname}}</strong> a comenzado a seguirte.
                            </p>
                            <small>{{ (notification.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}</small>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
