<app-loading *ngIf="loading"></app-loading>
<div class="publications" *ngIf="!loading">
    <div *ngFor="let publication of publications" class="item-publication">
        <div class="card card-default">
            <div class="card-body">
                <div class="image-user pull-left">
                    <a href="#">
                        <img src="{{url + 'get-image-user/' + publication.user.image}}" alt="Imagen de usuario" *ngIf="publication.user.image">
                        <img class="default-user-image" src="assets/img/default-user.jpg" alt="Imagen de usuario" *ngIf="!publication.user.image">
                    </a>
                </div>
                <div>
                    <div class="pull-right" *ngIf="publication.user._id == identity._id">
                        <button id="{{publication._id}}" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteModal'+publication._id" class="btn"><i class="fa fa-close"></i></button>
                    </div>

                        <!-- Modal -->
                        <div class="modal fade" [id]="'deleteModal'+publication._id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">¿Deseas borrar esta publicación?</h5>
                                        <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Una vez que borres esta publicación no podrás recuperarla.</p>
                                        <div class="publication-modal">
                                            {{publication.text}}
                                        </div><br>
                                        <div class="publication-img-modal" *ngIf="publication.file != 'null'">
                                            <img src="{{ url + 'get-image-pub/' + publication.file}}" alt="Imagen de publicación"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-default" (click)="deletePublication(publication._id)" data-bs-dismiss="modal"><i class="fa fa-trash mx-2"></i>Borrar publicación</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <a [routerLink]="['/profile', publication.user._id]" class="name-surname">
                            {{publication.user.name + ' ' + publication.user.surname}}
                    </a>
                    <span class="date">
                            {{ (publication.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}
                    </span><br>
                    <span>
                        {{'@'+ publication.user.nick}}
                    </span>
                </div><br>
                <div class="publication-text pull-left">
                    {{publication.text}}
                </div><br>
                <div class="d-flex flex-column justify-content-center">
                    <div class="publication-img d-flex justify-content-center" *ngIf="publication.file != 'null'">
                        <img src="{{ url + 'get-image-pub/' + publication.file}}" alt="Imagen de publicación"/>
                    </div>
                </div>
                <div class="likes-save d-flex justify-content-around">
                    <div (click)="likePublication(publication)">
                        <i class="fa fa-thumbs-up like" *ngIf="publication.likes.includes(identity._id)"></i>
                        <i class="fa fa-thumbs-up dislike" *ngIf="!publication.likes.includes(identity._id)"></i>
                        <span class="likes-number" *ngIf="publication.likes.length < 1">Da el primer like!</span>
                        <span class="likes-number" *ngIf="publication.likes.length === 1">Le gusta a {{publication.likes.length}} persona</span>
                        <span class="likes-number" *ngIf="publication.likes.length > 1">Le gusta a {{publication.likes.length}} personas</span>
                    </div>
                    <div (click)="savePublication(publication)">
                        <i class="fa fa-bookmark saved" *ngIf="publication.saves.includes(identity._id)"></i>
                        <i class="fa fa-bookmark unsaved" *ngIf="!publication.saves.includes(identity._id)"></i><br>        
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div @fade class="message-saved text-center" *ngIf='showMessageSaved'>
        <span>Podés encontrar las publicaciones guardadas en tu <a [routerLink]="['/profile', identity._id]">perfil</a></span>
    </div> 
    <div class="text-center mb-5" *ngIf="publications && publications.length">
        <button class="btn btn-sm btn-default "
        (click)="viewMore()"
        *ngIf="noMore">
            Ver más
        </button>
    </div>
    <div class="text-center mt-3" *ngIf="publications && publications.length < 1">
        <p>No hay publicaciones para mostrar</p>
    </div>
</div>