<div class="navigation col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class= "container-fluid">
        <div class="navbar-header mx-xl-5 mx-lg-5">
          <a [routerLink]="['/home']" class="navbar-brand">Vaporbox</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mx-xl-3 mx-lg-3">
                <a [routerLink]="['/home']" class="nav-link active">
                  <i class="fa fa-home"></i>
                  Inicio
                </a>
              </li>
              <li class="nav-item mx-xl-3 mx-lg-3">
                <a [routerLink]="['/timeline']" class="nav-link">
                  <i class="fa fa-list"></i>
                  Timeline
                </a>
              </li>
              <li class="nav-item mx-xl-3 mx-lg-3">
                <a [routerLink]="['/users/']" class="nav-link">
                  <i class="fa fa-users"></i>
                  Usuarios
                </a>
              </li>
          </ul>
          <ul class="nav navbar navbar-right mx-5" *ngIf="identity">
                <li class="avatar">
                    <!--Imagen de usuario-->
                    <img src="{{ url + 'get-image-user/' + identity.image }}" alt="Avatar de usuario logueado" *ngIf="identity && identity.image">
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        {{identity.name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/profile/'+identity._id]"><i class="fa fa-user mx-2"></i>Perfil</a>
                        </li>
                        <li>
                          <a [routerLink]="['/user-edit']"><i class="fa fa-cog mx-2"></i>Configuración</a>
                        </li>
                        <li>
                          <a href="#" (click)="logout()"><i class="fa fa-times mx-2"></i>Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
