$violet: #6e2e81;
$pink: #DD517F;
$lightblue: #7998EE;
$blue: #556DC8;
$orange: #E68E36;

nav{
    border-bottom: 1px solid $pink;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(248, 248, 248, 0.9) !important;
    .navbar-header{
        .navbar-brand{
            font-size: 1.7rem;
            margin-left: 2vw;
            letter-spacing: 10px;
            color: $pink;
            font-weight:bolder;
            background: #DD517F;
            background: -webkit-linear-gradient(to left, #DD517F 33%, #6E2E81 100%);
            background: -moz-linear-gradient(to left, #DD517F 33%, #6E2E81 100%);
            background: linear-gradient(to left, #DD517F 33%, #6E2E81 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:hover{
                color: $orange !important;
            }
        }
    }

    .navbar-toggler{
        border: none;
        &:active, &:focus{
            outline: none;
            box-shadow: none;
        }
        .navbar-toggler-icon{
            color: $pink;
        }
    }

    #navbarSupportedContent{
        .nav-item{
            margin-top: auto;
            @media (max-width: 992px){
                margin-top: 2vh;
            }
            .nav-link{
                text-decoration: none;
                color: $violet !important;
                text-shadow: 4px 4px 3px -1px $pink;
                &:hover{
                        color: $orange !important;
                }
                .new-unviewed{
                    color: $pink;
                    small{
                        position: relative;
                        z-index: 1;
                        bottom: 10px;
                        font-size: x-small;
                    }
                }
            }
        }
    
        .mobile-avatar{    
                width: 5vh;
                height: 5vh;
                border-radius: 100%;
                overflow: hidden;
                @media (min-width: 992px){
                    display: none;
                }
                img{
                    width: 110%;
                    height: auto;
                }
                .default-img{
                    width: 100%;
                }
        }

        .mobile-name{
            margin-left: 1vh;
            margin-top: 2.5vh;
            letter-spacing: 5px;
            strong{
                @media (min-width: 993px){
                    display: none;
                } 
            }
        }

        #mobile-notifications{
            @media (min-width: 993px){
                display: none;
            }
        }

        #log-out{
            @media (min-width: 993px){
                display: none;
            }
        }
        a{
            text-decoration: none;
            color: $violet !important;
            letter-spacing: 3px;
            &:hover{
                color: $orange !important;
            }
        }
        .avatar{     
            width: 6vh;
            height: 6vh;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 10px;
            @media (max-width:992px){
                display: none;
            }
            img{
                width: 110%;
                height: auto;
            }
            .default-img{
                width: 100%;
            }
        }
        .dropdown{
            margin-right: 2vw;
            
            @media (max-width:992px){
                display: none;
            }
            .dropdown-menu{
                background-color: rgb(248, 248, 248, 0.9);
                border: none;
                border-radius: 5px;
                margin-top: 12px;
                li{
                    margin-top: 10px;
                    &:hover{
                        background-color: $pink;
                        margin-top: 10px;
                        a{
                            color: white !important;
                            cursor: pointer;
                        }
                    }
                    a{
                        letter-spacing: normal;
                    }
                }
            }
        }
        
        .notifications{
            @media (max-width:992px){
                display: none;
            }
        }
    }
}
