$violet: #6e2e81;
$pink: #DD517F;
$lightblue: #7998EE;
$blue: #556DC8;
$orange: #E68E36;

nav{
    border-bottom: 3px solid $pink;
    max-height: 70px;
    .navbar-header{
        .navbar-brand{
            font-size: 1.7rem;
        }
    }
    .nav-item{
        &:hover{
            a{
                color: $orange !important;
            }
        }
        a{
            text-decoration: none;
            color: $violet !important;
        }
    }
    a{
        text-decoration: none;
        color: $violet !important;
        &:hover{
            color: $orange !important;
        }
    }
    .avatar{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 10px;
        img{
            width: 110%;
            height: auto;
            margin-right: 70%;
        }
    }
    .dropdown-menu{
        background-color: rgb(248, 248, 248);
        border: none;
        border-radius: 0;
        
        li:hover{
            background-color: $pink;
            a{
                color: white !important;
            }
        }
    }
}