$violet: #6e2e81;
$pink: #dd517f;
$lightblue: #7998ee;
$blue: #556dc8;
$orange: #e68e36;

.sidebar-container {
  position: fixed;
  .btn-default {
    background-color: $violet;
    color: whitesmoke;
    &:hover {
      background-color: $pink;
      color: whitesmoke;
    }
  }

  #new-publication {
    .alert {
      border-radius: 50px;
      margin: 5px;
      padding: 0 10px;
      color: $pink;
    }
    .alert-danger {
      background-color: transparent;
      border: none;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      label {
        color: $violet;
        font-size: 1rem;
        margin-left: 15px;
      }
      .form-control {
        margin-bottom: 15px;
        border-radius: 50px;
        border: rgba(235, 235, 235, 0.2) 0.5px groove;
        background-color: rgba($color: whitesmoke, $alpha: 0.2);
        &::placeholder{
          color: $blue;
        }
      }
      span {
        color: whitesmoke;
        font-size: smaller;
        margin-left: 15px;
        margin-top: 0;
      }
      .btn-default {
        background-color: $violet;
        color: whitesmoke;
        &:hover {
          background-color: $pink;
          color: whitesmoke;
        }
      }
    }
  }

  #user-card {
    width: 90%;
    height: 40%;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      margin: 20px auto;
      img {
        width: 110%;
        height: auto;
      }
      .default-img {
        width: 100%;
      }
    }
    .name-surname {
      a {
        text-decoration: none;
        color: $pink;
        font-family: "Raleway";
        font-weight: bolder;
        font-size: 1.5rem;
      }
    }
    .stats {
      @media (max-width: 1350px) {
        flex-wrap: wrap;
      }
      .following-data {
        margin: 10px 20px;
        padding: 5px;

        a {
          text-decoration: none;
          color: $violet;
          font-weight: 600;
          &:hover {
            color: $pink;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    background: #dd517f;
    background: -webkit-linear-gradient(to left, #dd517f 0%, #6e2e81 100%);
    background: -moz-linear-gradient(to left, #dd517f 0%, #6e2e81 100%);
    background: linear-gradient(to left, #dd517f 0%, #6e2e81 100%);
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 0 5vw;
    display: flex;
    justify-content: center;

    .btn-default {
      background-color: transparent;
      padding: 2% 0;
      &:hover,
      &:active {
        background-color: transparent;
        margin-left: 0;
      }
    }

    #new-publication {
      background-color: transparent;
      margin: 0;
      h5 {
        display: none;
      }
      .form-container {
        form{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .form-control {
            height: fit-content;
            width: 90%;
            margin-top: 3vh;
            align-self: center;
          }
          .btn-default{
              width: 20vw;
              align-self: center;
          }
        }
      }
    }

    #user-card {
      display: none;
    }
  }
}
