<div class="sidebar-container" >

    <button class="btn btn-default mt-lg-3" (click)="showForm($event)">
        <i class="fa fa-minus" *ngIf="showNewPublication"></i>
        <span *ngIf="!showNewPublication">
            <i class="fa fa-plus"></i>
             Nueva publicación
        </span>
    </button>

    <div @fade id="new-publication" *ngIf="showNewPublication">
        <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="text-center">
                <h5 class="mb-3 section-title">Crear publicación</h5>
            </div>
            <div class="alert alert-danger text-center" *ngIf="status == 'error'">
                La publicación no puede estar vacía!
            </div>
        </div>
        <div class="form-container mb-3">
            <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event)" class="col-xl-10 col-lg-10 col-md-10 text-center">
                <textarea name="text" 
                placeholder="¿Qué estás pensando hoy?" 
                #text='ngModel' 
                [(ngModel)]="publication.text" 
                class="form-control">
                </textarea>
        
                <input #fileInput type="file" class="form-control" (change)="fileChangeEvent($event)"/>
        
                <button type="submit" class="btn btn-default" [disabled]="!newPubForm.form.valid">Publicar</button>
            </form>
        </div>
    </div>
    


    <div id="user-card" class="card card-default text-center mt-5">
        <div class="avatar pull-left">
            <a [routerLink]="['/profile', identity._id]"><img src="{{'api/get-image-user/' + identity.image}}" alt="Imagen de usuario" *ngIf="identity.image"></a>
            <img src="assets/img/default-user.jpg" class="default-img" alt="Imagen de usuario" *ngIf="!identity.image || identity.image == null">
        </div>
        <div class="name-surname pull-right">
            <a [routerLink]="['/profile', identity._id]">{{ identity.name + ' ' + identity.surname }}</a>
            <p>{{ "@"+identity.nick }}</p>
            <p>{{ identity.bio }}</p>
        </div>
        <div class="stats d-flex justify-content-around" *ngIf="stats">
                <div class="following-data">
                    <a [routerLink]="['/following', identity._id, 1]">
                        <span class="label-stats">
                            Siguiendo
                        </span><br>
                        <span class="number-stats">
                            {{ stats.following }}
                        </span>
                    </a>
                </div>
                <div class="following-data">
                    <a [routerLink]="['/followers', identity._id, 1]">
                        <span class="label-stats">
                            Seguidores
                        </span><br>
                        <span class="number-stats">
                            {{ stats.followed }}
                        </span>
                    </a>
                </div>
                <div class="following-data following-data-publications">
                    <a [routerLink]="['/profile', identity._id]">
                        <span class="label-stats">
                            Publicaciones
                        </span><br>
                        <span class="number-stats" *ngIf="stats.publications">
                            {{ stats.publications }}
                        </span>
                        <span class="number-stats" *ngIf="!stats.publications">
                            0
                        </span>
                    </a>
                </div>
        </div>
    </div>
</div>
