$violet: #6e2e81;
$pink: #DD517F;
$lightblue: #7998EE;
$blue: #556DC8;
$orange: #E68E36;

.user-edit-container{
    margin-top: 7vh;
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0 auto;
        @media (max-width:768px){
            padding: 0 10vw;
        }
        label{
            color: $violet;
            font-size: 1rem;
            margin-left: 15px;
        }
        .form-control{
            border-radius: 50px;
            color: $pink;
            background: transparent;
            border: rgba(235, 235, 235, 0.8) 1px groove;
        }
        span{
            color: $pink;
            font-size: smaller;
            margin-left: 15px;
        }
    
        .loaded-img{
            width: 150px;
        }
        .btn-default{
            background-color: $violet;
            color: whitesmoke;
            &:hover{
                background-color: $pink;
            }
        }
        .btn-light{
            border-radius: 50px;
            margin-left: 5%;
            color: $pink;
            &:hover{
                background-color: rgb(200, 200, 200);
                border-color: rgb(200, 200, 200);
            }
            i{
                margin-right: 5px;
            }
        }
    }

    .modal{
        .modal-dialog{
            background-color: rgb(223, 222, 222);
            border-radius: 70px;
            border: 5px solid $pink;
            overflow: hidden;
            .modal-content{
                padding: 1rem;
                .modal-header{
                    h5{
                        font-weight: bold;
                    }
                    .btn-close-modal{
                        background: none;
                        border: none;
                        &:focus,&:active {
                            outline: none !important;
                            box-shadow: none;
                        }
                    }
                }
                .modal-body{
                    p{
                        font-weight: 400;
                    }
                    .user-delete-modal{
                        color: grey;
                        font-weight: 200;
                        padding: 1.5rem;
                        padding-bottom: 0;
                        font-size: 1rem;
                        p{
                            color: $blue;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
